*{
    margin:0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.homenavbar{
    border: 0px solid black;
    border-bottom: 1px solid white;
    height: 80px;
    width:100%;
    position: relative;
    position: fixed;
    z-index: 10;
   
    .logo{
        height: 60px;
        width: 60px;
    margin-top: 12px;
    margin-left: 25px;
    border-radius: 500px;
    }
    .logoname{
       position: absolute;
       top:15px;
       left: 100px;
       color: #F7941C;
       font-size: 24px;
    }
    .navoptions{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap:1.5rem;
        position: absolute;
       top:30px;
       left:380px;
       .navopt a{
        text-decoration: none;
        font-size: 20px;
        color: white;
       }
       .navopt a:hover{
        color: #F7941C;
        background-color: rgba(0, 0, 0, 0.705);
        border-radius: 5px;
       }
       
    } 
    .hamberger{
        display: none;
    }
    .hambergercancel{
        display: none;
    }

.join{
       position: absolute;
       top:20px;
       right: 170px;
       height: 45px;
       width: 90px;
       font-size: 18px;
       font-weight: bold;
       border-radius: 15px;
       background-color: #F7941C;
       border-color: #F7941C;
       box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.432); 
    }
    .join:hover{
        background-color:black;
        color:#F7941C;
       }
       .log{
        list-style: none;
        display: flex;
        flex-direction: column;

        position: absolute;
       top:30px;
       right: 90px; 
       .login a{
        text-decoration: none;
        font-size: 20px;
        color: white;
       }
       .login a:hover{
        background-color: rgba(0, 0, 0, 0.705);
        color: #F7941C;
       }
       
    }
    .profileimg{
        height: 65px;
        width: 65px;
        background-color: white;
        position: absolute;
       top:7px;
       right: 15px;
       border-radius: 400px;
       background-image: url(https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?semt=ais_hybrid);
       background-size: cover;  
        }
        .profilesub{
            list-style: none;
            font-size: 18px;
            height: 40px;
            width: 100px;
            background-color: white;
            border-radius: 5px;
          position: absolute;
           top:65px;
           transform: translateX(-25px);
           display: flex;
           flex-direction: column;
           gap: 20px;
           display: none;
           .profsub a{
            text-align: center;
            text-decoration: none;
            color: black;
        }
    } 
    .profileimg:hover .profilesub{
        display:block;
    }
}
.navbg{
    transition: all 1s;
    background-color: #4A3E3A;
   }

.hero{
    height:700px;
   width:100%;
}
.herocont{
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    top: 350px;
    left: 200px;
    color:white;
   }
  span{
   color: #F7941C;
  }
  #join1{
    position: absolute;
    top:570px;
    left:600px;
    height: 50px;
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #F7941C;
    border-color: #F7941C;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.432); 
 }
 #join1:hover{
     background-color:black;
     color:#F7941C;
    }
    @media only screen and (max-width: 1120px) {
        #navoptions{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap:1rem;
            position: absolute;
           top:30px;
           left:300px;
           }
           .navopt a{
            text-decoration: none;
            font-size: 16px;
            color: white;
           }
    
    }

@media only screen and (max-width: 995px) {
    .homenavbar{     
        height: 70px;
    }
   
    #navoptions{
        list-style: none;
        flex-direction: column;
        gap: 3.5rem;
        margin-top: 50px;
        transform: translateX(-250px);  
        
  } #navopt a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(7, 7, 7);
    position: absolute;
    left: 0px;
   
   }
   #navopt a:hover{
    color: #F7941C;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 5px;

   }
  #hamsub{
    height: 100vh;
    width: 170px;
    background-color: white;
   
   transform: translatey(-62px);
    margin-left: 0px;
    display: none; 
    z-index: 10;
  }
  #hamberger{
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    position: absolute;
    top: 20px;
    left: 6px;
}
#hambergercancel{
    display: block;
   position: absolute;
   transform: translatey(-50px);
   margin-left:45px;
}
  
  #logo{
    height: 45px;
    width:45px;
    margin-top: 17px;
    margin-left: 45px;
    border-radius: 500px;
    }
    #logoname{
       position: absolute;
       top:25px;
       left:92px;
       color: #F7941C;
       font-size: 12px;
       
    }
    #join{
        height:30px;
        width: 55px ;
        position: absolute;
        top:30px;
        right:88px;
        font-size: 11px;
        font-weight: bolder;
        border-radius: 5px;
        background-color: #F7941C;
        border-color: #F7941C;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.432);   
     }
     #join:hover{
        background-color:black;
        color:#F7941C;
       }
     #log{

       list-style: none;
        position: absolute;
       top:28px;
       right: 45px; 

       #login a{
        text-decoration: none;
        font-size: 12px;
        color: white;
       }
       #login a:hover{
        background-color: rgba(0, 0, 0, 0.705);
        color: #F7941C;
       }
    }
    #profileimg{
        height: 40px;
        width: 40px;
        background-color: white;
        position: absolute;
       top:20px;
       right: 3px;
       border-radius: 400px;
        }
        #profilesub{
            width: 100px;
            height: 40px;
            position: absolute;
            top:50px;  
            font-size: 16px; 
         transform: translateX(-60px); 
                  
        }
        .hero{
            height:380px;
           width:100%;
        }
        #herocont {
            font-size: 30px;
            position: absolute;
            top: 180px;
            left: 40px;
            right: 50px;
            color:white;
            font-size: 26px;
           }
           span{
            color: #F7941C;
           }
           #join1{
            height:30px;
            width: 55px ;
            position: absolute;
            top:310px;
            left:88px;
            font-size: 11px;
            font-weight: bolder;
            border-radius: 5px;
            background-color: #F7941C;
            border-color: #F7941C;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.432);   
         }
         #join1:hover{
            background-color:black;
            color:#F7941C;
           }
} 


.content{
    border: 0px solid ;
    height: 1550px;
    width: 100%;
    margin-right: 0px;
    background-color: #352d2b;
    position: relative;
    .proghead {
        color: white;
        font-weight: 600;
        font-size: 26px;
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .line {
        width: 190px;
        height: 4px;
        background-color: #F7941C;
        border-radius: 10px;
        position: absolute;
        top: 80px;
        left: 30px;
        
    }   
    .bmi {
        width: 150px;
        height: 45px;
        position: absolute;
        top: 40px;
        right: 60px;
        border-radius: 10px;
        background-color:#F7941C;
        cursor: pointer;
        font-size: 16px;
        font-weight: 790;
        border-color: #F7941C;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.76);
       
    }
    .bmi:hover{
        background-color: black;
        color: #F7941C;
    }
    .bmibox{
        width: 300px;
        height: 350px;
        border: 0px solid;
        background-color: #F7941C;
        border-radius: 10px; 
        position: absolute;
        top: 90px;
        right: 40px;
        border:2px solid black;
        display:none;
    }
    .bmihead{
        position: absolute;
        top: 20px;
        left: 70px;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .height{
        position: absolute;
        top: 70px;
        left: 30px;
        font-size: 17px;
        font-weight: bold;
        color: black;
    }
    .height input{
        position: absolute;
        left: 70px;
        width: 150px;
    }
    .weight{
        position: absolute;
        top: 130px;
        left: 20px;
        left: 30px;
        font-size: 17px;
        font-weight: bold;
        color: black;
    }
    .weight input{
        position: absolute;
        left: 70px;
        width: 150px;
    }
    .bmires{
        position: absolute;
        top: 180px;
        left: 10px;
        font-size: 17px;
        font-weight: bold;
        color: black;
    }
    .bmires input{
        position: absolute;
        left: 90px;
        width: 150px
    }
    #bmisubmit{
        height: 35px;
        width: 90px;
        position: absolute;
        top: 230px;
        left: 100px;
        font-size: 16px;
        font-weight: bold;
        color: #F7941C;
        background-color: black;
        border-radius: 5px;
       }
       #bmimsg{
            font-size: 20px;
            color: black;
            position: absolute;
            top: 270px;
            left: 25px;
            font-size: 20px;
            font-weight: bold;
       }
    .proimg1{
        position: absolute;
        top: 180px;
        left: 40px;
        border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    }
    .proimgcon1{
        height:55px;
        width: 250px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 335px;
        left: 40px;
        background-color: black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #F7941C; 
    }
    .pimg1:hover{
        transform: translateY(-20px);
    }
    .pimg2:hover{
        transform: translateY(-20px);
    }
    .pimg3:hover{
        transform: translateY(-20px);
    }
    .pimg4:hover{
        transform: translateY(-20px);
    }
    .proimg2{
        position: absolute;
        top: 180px;
        left: 360px;
        border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    }
    .proimgcon2{
        height:55px;
        width: 250px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 335px;
        left: 360px;
        background-color: black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #F7941C; 
    }
    .proimg3{
        position: absolute;
        top: 180px;
        right: 400px;
        border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    }
    .proimgcon3{
        height:55px;
        width: 250px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 335px;
        right: 400px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: black;
        color: #F7941C; 
    }
    .proimg4{
        position: absolute;
        top: 180px;
        right: 80px;
        border-radius: 10px;
    box-shadow: 6px 6px 20px black;
    }
    .proimgcon4{
        height:55px;
        width: 250px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 335px;
        right: 80px;
        background-color: black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #F7941C; 
        
    }
    .arrow{
        position: absolute;
        top:5px;
        right: 15px;
    }
    
    .midhead {
        color: #F7941C;
        position: absolute;
        top: 570px;
        left: 500px;
        font-size: 32px;
    }
    .midimg1{
        position: absolute;
        top: 670px;
        left: 200px;
        
    }
    .midimg1:hover{
        transform:translateY(-20px)
    }
    .midimg2:hover{
        transform:translateY(-20px)
    }
    .midimg3:hover{
        transform:translateY(-20px)
    }
    .midimg2{
        position: absolute;
        top: 670px;
        left: 600px;
    }
    .midimg3{
        position: absolute;
        top: 670px;
        left: 1000px;
        
    }
    .midcont1{
        position: absolute;
        top: 780px;
        left: 180px; 
        font-size: 20px;
        font-weight: bolder;
        color:white;   
    }
    .midcont2{
        position: absolute;
        top: 780px;
        left: 570px; 
        font-size: 20px;
        font-weight: bolder;
        color:white;

    }
    .midcont3{
        position: absolute;
        top: 780px;
        left: 920px; 
        font-size: 20px;
        font-weight: bolder;
        color:white;

    }
    .trans{
        position: absolute;
        top: 1150px;
        left: 100px;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        
    }
    .trans1{
        border-radius: 15px;
        box-shadow: 5px 5px 20px black;   
    }
     .trans1:hover{
            transform: translateY(-10px);
        }
        .trans2{
            border-radius: 15px;
            box-shadow: 5px 5px 20px black;   
        }
         .trans2:hover{
                transform: translateY(-10px);
            }
            .trans3{
                border-radius: 15px;
                box-shadow: 5px 5px 20px black;   
            }
             .trans3:hover{
                    transform: translateY(-10px);
                }
    .mission {
        color: white;
        font-weight: 600;
        font-size: 26px;
        position: absolute;
        top: 900px;
        left: 30px;
    }
    .line1 {
        width: 190px;
        height: 4px;
        background-color: #F7941C;
        border-radius: 10px;
        position: absolute;
        top: 950px;
        left: 30px; 
    }  
    .missioncont{
        color: white;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        top: 980px;
        left: 30px;  
        right: 20px;
    }
}


@media only screen and (max-width: 1290px){
    .content{
        height: 2580px;
    }

    #bmi {
        position: absolute;
        top: 120px;
        left: 30px;  
    }
    #proghead {
        font-size: 20px;
    }
    #line {
        width: 150px;
        
    }
    #proimgcon3 {
        position: absolute;
        top: 640px;
        left: 60px;  
    }
    #proimg3 {
        position: absolute;
        top: 480px;
        left: 60px;  
    }
    #proimgcon4{
        position: absolute;
        top: 640px;
        left: 360px;  
    }
    #proimg4 {
        position: absolute;
        top: 480px;
        left: 360px;  
    }
    #middle{
        top: 750px;
        width: 100%;
        height: 200px;
    }
    #midhead {
        position: absolute;
        top: 770px;
        left: 200px;
        font-size: 26px;  
    }
    #midimg1{
        height: 70px;
        width:70px;
        position: absolute;
        top: 830px;
        left: 50px;
        
    }
    #midimg2{
        height: 70px;
        width:70px;
        position: absolute;
        top: 830px;
        left: 280px;   
    }
    #midimg3{
        height: 70px;
        width:70px;
        position: absolute;
        top: 830px;
        left: 500px;  
    }
   #midcont1{
        position: absolute;
        top: 915px;
        left: 40px; 
        font-size: 16px;
        font-weight: bold;
    }
    #midcont2{
        position: absolute;
        top: 915px;
        left: 240px; 
        font-size: 16px;
        font-weight: bold;
        }
    #midcont3{
        position: absolute;
        top: 915px;
        left: 470px; 
        right: 10px;
        font-size: 16px;
        font-weight: bold;
    } 
    #trans{
        position: absolute;
        top: 1200px;
        left: 80px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    #trans1{
        width: 450px;
        height: 400px;
    }
    #mission {
        
        font-size: 20px;
        position: absolute;
        top: 980px;
    }
    #line1 {
        width: 150px;
        position: absolute;
        top: 1020px; 
    }  
    #missioncont{
        
        font-size: 18px;
        position: absolute;
        top: 1040px;
    }
    #bmibox{
        
        position: absolute;
        top: 170px;
        left: 20px;
    }
}
@media only screen and (max-width: 600px){
    .content{
        height: 2560px;
    }
    #proimgcon1 {
        position: absolute;
        top: 355px;
        left: 40px;  
    }
    #proimg1 {
        position: absolute;
        top: 200px;
        left:40px;  
    }
    #proimgcon2 {
        position: absolute;
        top: 620px;
        left: 40px;  
    }
    #proimg2 {
        position: absolute;
        top: 440px;
        left: 40px;  
    }
    #proimgcon3 {
        position: absolute;
        top: 870px;
        left: 40px;  
    }
    #proimg3 {
        position: absolute;
        top: 710px;
        left: 40px;  
    }
    #proimgcon4{
        position: absolute;
        top: 1110px;
        left: 40px;  
    }
    #proimg4 {
        position: absolute;
        top: 950px;
        left: 40px;  
    } 

    #middle{
        top: 1250px;
        height: 180px;
    }
    #midhead {
        position: absolute;
        top: 1270px;
        left: 90px;
        font-size: 20px;  
    }
    #midimg1{
        height: 60px;
        width:60px;
        position: absolute;
        top: 1340px;
        left: 30px;
        
    }
    #midimg2{
        height: 60px;
        width:60px;
        position: absolute;
        top: 1340px;
        left: 140px;   
    }
    #midimg3{
        height: 60px;
        width:60px;
        position: absolute;
        top: 1340px;
        left: 240px;  
    }
   #midcont1{
        position: absolute;
        top: 1405px;
        left: 10px; 
        font-size: 11px;
        font-weight: bold;
    }
    #midcont2{
        position: absolute;
        top: 1405px;
        left: 120px; 
        font-size: 11px;
        font-weight: bold;
    }
    #midcont3{
        position: absolute;
        top: 1405px;
        left: 235px; 
        font-size: 11px;
        font-weight: bold;
    }
    #trans{
        
        position: absolute;
        top: 1600px;
        left: 30px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    #trans1{
        width: 270px;
        height: 250px;
    }
    #mission {
        
        font-size: 16px;
        position: absolute;
        top: 1450px;
    }
    #line1 {
        width: 130px;
        position: absolute;
        top: 1475px; 
    }  
    #missioncont{
        
        font-size: 13px;
        position: absolute;
        top: 1485px;
    }
    #bmibox{
        width: 280px;
        position: absolute;
        top: 170px;
        left: 10px;
    }
}


.footercont{

    background-color: black;
    color: white;
    height: 300px;
    width: 100%;
    padding-top: 10px;
    position: relative;

}
.color{
    padding: 20px;
    text-align: center;
}
.contact{
    height:80px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color:#4A3E3A;
    padding-left: 200px;
}
.contactdet{
font-size: 16px;
color: white;
padding-top: 10px;
}
.contactdet1{
    font-size: 18px;
    color: white;
    padding-top: 20px;

}
#contactdet1{
    padding-top: 10px; ;
}
.contactimg{
    margin-top: 10px;
}
.newsletter{
    margin: 20px;
}

.footnewshead{
    margin-bottom:10px;
    text-align: center;
    font-size: 26px;
}
.newsletterform{
    display: flex;
    justify-content: center;
}
.newsbutton{
    height:40px;
    width: 80px;
    font-size: 15px;
    background-color: #F7941C;
    color: rgb(10, 10, 10);
    border-color: #F7941C;
    font-size: 14px;
    font-weight: 600;
}
.newsbutton:hover{
    background-color: black;
    color:#F7941C;
    border-color: white;
    font-size: 14px;
    font-weight: 600;
}
.newsmail{
    height:40px;
    width: 220px;
    font-size: 16px;
    background-color: white;
    border-color:white ;
}
.footlink1 {
    position: absolute;
    top: 50px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    font-size:18px;
    list-style: none;
}
.footsublink1 a{     
    text-decoration: none;
    color: white;
}
.footsublink1 a:hover{          
    color:#F7941C;
}
.footsublinhead1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
} 
.footlink2{
    position: absolute;
    top: 50px;
    left: 170px;
    display: block;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    font-size:18px;
    list-style: none;
}
.footsublink2 a{     
    text-decoration: none;
    color: white;
     
}
.footsublinhead2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
} 
.footsublink2 a:hover{          
    color:#F7941C;
}
.footcompname{
    font-size: 22px;
    position: absolute;
    left:30px;
    color: #F7941C;
    top: 200px;
}
.footlogo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    top: 190px;
    right: 50px;
}
.foottext{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    left:30px;
}
@media only screen and (max-width: 1160px){
    #contact{
        height:80px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        background-color:#4A3E3A;
        padding-left: 150px; ;
        padding-right: 20px;
    }
    .contactdet{
        font-size: 14px;
        color: white;
        padding-top: 10px;
        }
        .contactdet1{
            font-size: 14px;
            color: white;
            padding-top: 20px;
        }
        #contactdet1{
            padding-top: 10px; ;
        }
        .contactimg{
            margin-top: 15px;
            height: 35px;
            width: 35px;
        }
        .footnewshead{
            font-size: 23px;
        }
        .newsbutton{
            height:35px;
            width: 70px;
            font-size: 13px;
            background-color: #F7941C;
            color: rgb(10, 10, 10);
            border-color: #F7941C;
            font-size: 14px;
            font-weight: 600;
        }
        .newsmail{
            height:35px;
            width: 190px;
            font-size: 14px;
            background-color: white;
            border-color:white ;
        }
        .footlink1 {
            left: 20px;
            font-size:15px;
        }
        .footsublinhead1 a{
            font-size: 17px;
            font-weight: bold;
        } 
        .footlink2{
            left: 140px;
            font-size:15px;
            list-style: none;
        }
       
        .footsublinhead2 a{
            
            font-size: 17px;
            font-weight: bold;
        } 
        .footcompname{
            font-size: 18px;
            position: absolute;
            top:200px;
            left:30px;
        }
        .footlogo{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            position: absolute;
            top: 190px;
            right: 50px;
        }
        .footlogo1{
            height: 30px;
            width:30px;
        }
        .foottext{
            font-size: 13px;
            display: flex;
            flex-direction: row;
            gap: 0.7rem;
            position: absolute;
            left:30px;
        }
}
@media only screen and (max-width: 800px){
   
    #contact{
        height:260px;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        background-color:#4A3E3A;
        padding-right: 20px;  
        padding-left: 50px;
    }
    #contactdet{
        font-size: 14px;
        padding-top: 10px;
        position: absolute;
        left: 100px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        display: block;
        }
    #contactimg1:hover ~ #contactdet{
         display: block;
    }
    #contactimg2:hover ~ #contactdet1{
        display: block;
   }
   #contactimg3:hover ~ #contactdet2{
    display: block;
}
        #contactdet1{
            font-size: 14px;
            padding-top:100px;
            position: absolute;
            left: 100px;
            font-weight: 600;
            display: block;
            
        }
        #contactdet2{
            font-size: 14px;
            color: white;
            padding-top: 210px;
            position: absolute;
            left: 100px;
            font-weight: 600; 
            display: block;  
        }
        .contactimg{
            margin-top: 5px;
            height: 32px;
            width: 32px;
        }
        .footnewshead{
            font-size: 20px;
            margin: 5px;
        }
        .newsbutton{
            height:30px;
            width:65px;
            font-size: 12px;
            background-color: #F7941C;
            color: rgb(10, 10, 10);
            border-color: #F7941C;
            font-size: 14px;
            
        }
        .newsmail{
            height:30px;
            width: 170px;
            font-size: 14px;
            background-color: white;
            border-color:white ;
        }
        .footlink1 {
            top: 100px;
            left: 15px;
            font-size:12px;
        }
        .footsublinhead1 a{
            font-size: 14px;
            font-weight: bold;
        } 
        .footlink2{
            top: 100px;
            left: 170px;
            font-size:13px;
            list-style: none;
        }
       
        .footsublinhead2 a{
            
            font-size: 12px;
            font-weight: bold;
        } 
        .footcompname{
            font-size: 15px;
            position: absolute;
            top:180px;
            left:10px;
            margin-top: 10px;
        }
        
    
        .footlogo{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            position: absolute;
            top: 180px;
            right: 15px;
            margin-top: 10px;
        }
        .footlogo1{
            height: 25px;
            width:25px;
        }
        .foottext{
            font-size: 10px;
            display: flex;
            flex-direction: row;
            gap: 0.7rem;
            position: absolute;
            top: 230px;
            left:10px;
        }
}